.menu-container {
    display: flex;
    color: white;

    .list-container {
        width: 50%;
        margin-right: 15px;

        .page-header-text {
            h1 {
                text-align: center;
            }
        }
        //flex-direction: column;
        .todo-list {
            list-style: none;

            .list-element-container {
                padding: 25px;
                border: 3px solid gray;
                margin-bottom: 20px;

                .list-element {
                    display: flex;
                    justify-content: space-between;
                }

                .list-operations {
                    margin-top: 10px;
                    padding: 10px;
                    background: #222222;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        margin: 0 5px;
                        padding: 5px;
                    }
                }
            }
        }
    }

    .add-new-container {
        margin-left: 15px;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            text-align: center;
        }

        .add-container {
            width: 75%;
            height: 50px;
            padding: 25px;
            border: 3px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

            .input-wrapper {
                width: 100%;

                input {
                    width: 75%;
                }

                button {
                    margin-left: 20px;
                    padding: 5px;
                }
            }
        }
    }
}


